// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-canvas {
	height: 600px;
	width: 700px;
	margin: 0 auto;
}
@media only screen { 

}