// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#badges{
	margin-top: 190px;
}

#hunt,h2{
	display: inline-block;
	margin-top: 60px;
}

.orbit-container{
position: absolute;
top: 45%;
margin-top: 52px;
width: 300px;
height: 500px;
color: white;
background-color: none;
z-index: 10;
margin-left: -82px;
}
/*h2{
	display: inline-block;
}*/
